body {
  background-image: url('https://www.uhhospitals.org/-/media/Images/Blog/Girl-Healthy-Lifestyle-Illustration-1363368428-Blog-MainArticleImage.jpg?h=450&w=720&la=en&hash=2B1A5829A100549E39A3F7E08463DC88EBB304F0');
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
   background-color: transparent; 
   margin-right: auto;
   margin-left: auto;
}

section {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}
#navButtons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    height: 10vh;
    width: 20vw;
}

button {
    color: navy
}